@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Gilroy";
  src: url("../../public/font/Gilroy-Light.woff") format("woff");
  font-weight: 200;
}

@font-face {
  font-family: "Gilroy";
  src: url("../../public/font/Gilroy-Thin.woff") format("woff");
  font-weight: 300;
}

@font-face {
  font-family: "Gilroy";
  src: url("../../public/font/Gilroy-Regular.woff") format("woff");
  font-weight: 400;
}

@font-face {
  font-family: "Gilroy";
  src: url("../../public/font/Gilroy-Medium.woff") format("woff");
  font-weight: 500;
}

@font-face {
  font-family: "Gilroy";
  src: url("../../public/font/Gilroy-SemiBold.woff") format("woff");
  font-weight: 600;
}

@font-face {
  font-family: "Gilroy";
  src: url("../../public/font/Gilroy-Bold.woff") format("woff");
  font-weight: 700;
}

@font-face {
  font-family: "Gilroy";
  src: url("../../public/font/Gilroy-Extrabold.woff") format("woff");
  font-weight: 800;
}

@font-face {
  font-family: "Gilroy";
  src: url("../../public/font/Gilroy-Black.woff") format("woff");
  font-weight: 900;
}

:root {
  text-wrap: balance;
  color-scheme: dark;
}

/* God Rays by Tim Wilson */

@keyframes jumbo {
  from {
    background-position:
      50% 50%,
      50% 50%;
  }
  to {
    background-position:
      350% 50%,
      350% 50%;
  }
}

.jumbo {
  --stripesDark: repeating-linear-gradient(
    100deg,
    #000 0%,
    #000 7%,
    transparent 10%,
    transparent 12%,
    #000 16%
  );
  --rainbow: repeating-linear-gradient(
    100deg,
    #60a5fa 10%,
    #e879f9 15%,
    #60a5fa 20%,
    #5eead4 25%,
    #60a5fa 30%
  );
  background-image: var(--stripesDark), var(--rainbow);
  background-size: 300%, 200%;
  background-position:
    50% 50%,
    50% 50%;

  filter: blur(10px) opacity(50%) saturate(200%);

  mask-image: radial-gradient(ellipse at 100% 0%, black 40%, transparent 70%);

  pointer-events: none;
}

.jumbo::after {
  content: "";
  position: absolute;
  inset: 0;
  background-image: var(--stripesDark), var(--rainbow);
  background-size: 200%, 100%;
  animation: jumbo 60s linear infinite;
  background-attachment: fixed;
  mix-blend-mode: difference;
}

/* Code Editor */
.cm-editor {
  background-color: transparent;
}

.cm-focused {
  outline: none !important;
}

.cm-gutterElement {
  background-color: transparent !important;
  color: #a3a3a3;
}

.cm-gutters {
  background-color: transparent !important;
  border: none !important;
  backdrop-filter: blur(20px);
  backdrop-filter: brightness(0);
}

.cm-content {
  height: 100%;
  padding-top: 0 !important;
}

/* Prizes Cursor Trail */
.star {
  position: absolute;
  z-index: 2;
  color: white;
  font-size: 1rem;
  animation-duration: 1500ms;
  animation-fill-mode: forwards;
  pointer-events: none;
}

@keyframes fall-1 {
  0% {
    transform: translate(0px, 0px) rotateX(45deg) rotateY(30deg) rotateZ(0deg)
      scale(0.25);
    opacity: 0;
  }

  5% {
    transform: translate(10px, -10px) rotateX(45deg) rotateY(30deg)
      rotateZ(0deg) scale(1);
    opacity: 1;
  }

  100% {
    transform: translate(25px, 200px) rotateX(180deg) rotateY(270deg)
      rotateZ(90deg) scale(1);
    opacity: 0;
  }
}

@keyframes fall-2 {
  0% {
    transform: translate(0px, 0px) rotateX(-20deg) rotateY(10deg) scale(0.25);
    opacity: 0;
  }

  10% {
    transform: translate(-10px, -5px) rotateX(-20deg) rotateY(10deg) scale(1);
    opacity: 1;
  }

  100% {
    transform: translate(-10px, 160px) rotateX(-90deg) rotateY(45deg)
      scale(0.25);
    opacity: 0;
  }
}

@keyframes fall-3 {
  0% {
    transform: translate(0px, 0px) rotateX(0deg) rotateY(45deg) scale(0.5);
    opacity: 0;
  }

  15% {
    transform: translate(7px, 5px) rotateX(0deg) rotateY(45deg) scale(1);
    opacity: 1;
  }

  100% {
    transform: translate(20px, 120px) rotateX(-180deg) rotateY(-90deg)
      scale(0.5);
    opacity: 0;
  }
}
