@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Gilroy";
  src: url("../../public/font/Gilroy-Medium.woff2") format("woff2");
  font-weight: 500;
}

@font-face {
  font-family: "Gilroy";
  src: url("../../public/font/Gilroy-SemiBold.woff2") format("woff2");
  font-weight: 600;
}

:root {
  text-wrap: balance;
}
